---
layout: default
title: Main Page
---

<div id="home">
  <h1>Test Anything Protocol</h1>
  <p>TAP, the Test Anything Protocol, is a simple text-based interface between testing modules in a test harness. TAP started life as part of the test harness for Perl but now has implementations in C, C++, Python, PHP, Perl, Java, JavaScript, and others.</p>
  <p>Here's what a TAP test stream looks like:</p>
  <code><pre>
   1..4
   ok 1 - Input file opened
   not ok 2 - First line of the input valid
   ok 3 - Read the rest of the file
   not ok 4 - Summarized correctly # TODO Not written yet
  </pre></code>


  <h2>Testing with TAP</h2>
  <ul>
  <li><a href="/Testing_with_TAP" title="Testing with TAP">Testing with TAP</a> - How to run TAP based tests in your language of choice</li>
  </ul>

  <h2>TAP Development</h2>

  <ul>
    <li><a href="/producers.html" title="TAP Producers">TAP Producers</a> - Testing tools that generate TAP output</li>
    <li><a href="http://testanything.org/wiki/index.php/TAP_Consumers" title="TAP Consumers">TAP Consumers</a> - Test harnesses that read TAP</li>
<!-- TODO review needed - might be worth moving to github issues and involving individual content owners
     <li><a href="http://testanything.org/wiki/index.php/TAP_Proposals" title="TAP Proposals">TAP Proposals</a> - What next?</li>
-->
    <li><a href="/philosophy.html" title="TAP Philosophy">TAP Philosophy</a> - The Tao of TAP</li>
    <li><a href="/history.html" title="TAP History">TAP History</a> - The story of TAP</li>
<!-- TODO review needed
    <li><a href="http://testanything.org/wiki/index.php/TAP_Critique" title="TAP Critique">TAP Critique</a> - Design infelicities</li>
    <li><a href="http://testanything.org/wiki/index.php/YAMLish" title="YAMLish">YAMLish</a> - TAP's embedded YAML dialect</li>
    <li><a href="http://testanything.org/wiki/index.php/Things_missing_from_TAP" title="Things missing from TAP">Things missing from TAP</a></li>
-->
  </ul>

  <h2>Specifications</h2>
  <ul>
  <li><a href="tap-specification.html" title="TAP specification">TAP specification</a></li>
  <li><a href="http://testanything.org/wiki/index.php/TAP_version_13_specification" title="TAP version 13 specification">TAP version 13 specification</a></li>
  </ul>

  <h2>External Resources</h2>
  <ul>
    <li><a href="http://en.wikipedia.org/wiki/Test_Anything_Protocol" class="external text" title="http://en.wikipedia.org/wiki/Test_Anything_Protocol" rel="nofollow">Wikipedia article on TAP</a></li>
  </ul>

<!-- TODO review needed
  <h2>Mailing Lists</h2>
  <ul>
    <li><a href="http://testanything.org/mailman/listinfo/tap-l" class="external text" title="http://testanything.org/mailman/listinfo/tap-l" rel="nofollow">TAP-L</a> - For discussion of the Test Anything Protocol</li>
    <li><a href="http://www.hexten.net/mailman/listinfo/tapx-dev" class="external text" title="http://www.hexten.net/mailman/listinfo/tapx-dev" rel="nofollow">TAPX-DEV</a> - For developers of <a href="http://testanything.org/wiki/index.php/TAP::Parser" title="TAP::Parser">TAP::Parser</a> and other interested parties. Perl specific.</li>
  </ul>
-->


  {% if site.posts.size > 0 %}
    <h1>Updates</h1>
    <ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</div>